:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
}

#banner{
    padding: 1.25em;
    margin:0 auto;
    background-color: var(--white);
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
}

img{
    border-radius: inherit;
    height: 100%;
    width: 100%;
}