@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
}

section{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#banner{
    box-shadow: 0px 9px 50px 0px var(--grayish-blue);
    padding: 1.25em;
    margin:0 auto;
    background-color: var(--white);
    flex-direction: column;
    width: 350px;
    border-radius: 25px;
}

img{
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

h1{
    color: var(--dark-blue);
    text-align: center;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

p{
    color: var(--grayish-blue);
    text-align: center;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 375px) {

    #banner{
        width: 275px;
    }
    
}